/* .intro{
    height: 600px;
    background-image:
        linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), 
     url('casset/c6.PNG');
    background-repeat: no-repeat;
    background-attachment: unset; 
    background-size: 100% 100%;
    color: #fff;
    top: +200px;
} */
.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
nav ul li a {
    text-decoration: none;
    color: #fff !important;
    /* background-color: #f4e2ae8b; */
}
 span{
    margin-left: 80px;
 } 
 .slide-img{
    display: block;
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: bottom;
 }
  
